<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grass Home Page</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <p class="text-center h1">
                    Grass Scoreboard
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4 offset-4">
                <div class="row">
                    <a href="http://localhost:8080/players">
                        <button type="button" class="btn btn-success">Player Information</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>