<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grass Home Page</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <p class="text-center h1">
                    Grass Scoreboard
                </p>
                <p class="text-center h2">
                    Current round: {{ round_number }}
                </p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4 offset-4">
                <div class="row pt-3">
                    <a href="http://localhost:8080/players">
                        <button type="button" class="btn btn-success">Player Information</button>
                    </a>
                </div>
                <div class="row pt-3">
                    <a href="http://localhost:8080/round-entry">
                        <button type="button" class="btn btn-success">Enter round information</button>
                    </a>
                </div>
            </div>
        </div>
        {% if round_number > 1 %}
            <div class="row mt-5">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in players %}
                    <tr>
                      <td>{{ item.name }}</td>
                      <td>{{ item.current_score }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</body>
</html>